* {
    font-family: monospace;
}

.divA {
    border:1px solid gray;
    padding:7px;
    border-radius: 4px;
    margin-bottom: 10px;
}

#out_title {
    color: darkred;
    font-style: oblique;
}

h1 {
    text-align: center;
    margin: 20px;
}

.arrow {
    height: 40px;
    display: block;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}
